# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
indent_style = space
tab_width = 4
end_of_line = crlf
insert_final_newline = true
dotnet_sort_system_directives_first = true

[*.{md,txt}]
max_line_length = off

[*.{xml,csproj,props,targets,recipe,shproj,projitems}]
indent_size = 2
insert_final_newline = false

[*.{shader,cginc,fx,hlsl}]
indent_size = 4
